body {
    height: 100%;
    background-color: azure;
    font-family: monospace;
    color: rgb(236, 112, 39);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    display: flex;
    margin-right: auto;
}

.logo .door{
    height: 42px;
}

.logo .name {
    font-size: 40px;
    font-weight: bold;
}

.nav .material-symbols-outlined {
    border-style: solid;
    border-width: 1px;
    font-size: 40px;
}

.filter {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
}

.filter .material-symbols-outlined {
    font-size: 30px;
}

.filter-box {
    display: flex;
    border-radius: 10px;
    padding: 8px;
    border-style: solid;
}

.filter-box .name {
    font-size: 26px;
    font-weight: bold;
}

.search-bar {
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(236, 112, 39);
    height: 30px;
    width:  500px;
    margin: auto 0;
    font-family: monospace;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 5px;
    height: 700px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* */
    border-radius: 5px; /* */
    background-color: #f2f2f2;
    flex: 0 0 19%;
    overflow: hidden;
    position: relative;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.status-tag {
    font-size: 10px;
    background-color: white;
    padding: 8px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 5px;
}

.room-tag {
    font-size: 15px;
    color: white;
    background-color: rgb(236, 112, 39);
    padding: 4px;
    position: absolute;
    left: 50%;
    text-align: center;
    border-radius: 5px;
    transform: translateX(-50%);
    bottom: 0px;
    width: 100%;
}

.dot {
  height: 6px;
  width: 6px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}   